﻿*[draggable] {
 user-select: none;
}

body {
 color:#000;
 font-family: Arial;
}

abbr {
 border-bottom: 1px dashed #aaa;
}

h1 {
 border-bottom: 1px solid #000;
 clear: both;
 font-size: 25px;
}

h2 {
 font-size: 20px;
 margin: 10px 0;
}

h3 {
 font-size: 15px;
 margin: 3px 0;
}

textarea {
 width: 100%;
 height: 300px;
}

img {
 vertical-align: middle;
}

h1 em {
 display: inline-block;
 vertical-align: middle;
 text-align: center;
 font-size: 15px;
 background: #f2f2f2;
 border: 1px solid #aaa;
 width: 15px;
 color: #aaa;
 border-radius: 2px;
}

ul {
 margin: 0;
 padding: 0;
 list-style: none;
 white-space: wrap;
}

li {
 display: inline-block;
 overflow: hidden;
 font-size: 11px;
 background: #f2f2f2;
 border: 1px solid #aaa;
 line-height: 22px;
 padding: 0;
 padding-left: 2px;
 margin: 0 5px 0 0;
 border-radius: 2px;
}

#players ul {
 margin-top: 5px;
}

#players li {
 padding: 0 2px;
 width: 143px;
}

/* -- */

.edit {
 border: 1px dashed #09F;
 text-align: center;
 color: #09F;
 font-size: 20px;
 margin: 5px;
 margin-top: 0;
 float: right;
 width: 150px;
 padding: 25px 0
}

.remove {
 border: 1px dashed #F90;
 text-align: center;	
 color: #F90;
 font-size: 20px;
 float: right;
 width: 150px;
 padding: 25px 0
}

.clear {
 clear: both;
}

.p, .game p.p {
 background-color:#B8F2B8;
 border-color: #3FDC3F;
}

.game p.p input {
 border-color: #3FDC3F;
}

.t, .game p.t  {
 background-color: #B8B8F2;
 border-color: #5E5EE1;
}

.game p.t input {
 border-color: #5E5EE1;
}
 
.z, .game p.z {
 background-color: #F2B8B8;
 border-color: #E77C7C;
}

.game p.z input {
 border-color: #E77C7C;
}

.r , .game p.r {
 background-color: #F2E8B8;
 border-color: #E2CC63
}

.game p.r input {
 border-color: #E2CC63;
}

.bye, .game p.bye {
 background-color: #D3D3D3
}

.edit.enter {
 background-color: #09F;
 color: #FFF;
 border: 1px dashed #FFF;
}

.remove.enter {
 background-color: #F90;
 color: #FFF;
 border: 1px dashed #FFF;
}

p.top.enter, p.bottom.enter  {
 background-color: #AAA;
}

.drag {
 opacity: 0.5;
}

.warn {
 color: #F00;
}

.empty {
 color: #aaa;
}

.bold {
 font-weight: bold;
}

/* -- Bracket -- */

.bracket {
 background: #fff;
 font-size: 11px;
}

.column {
 float: left;
 width: 150px
}

.bracket h3 {
 background: #ebebeb;
 border: 1px solid #aaa;
 line-height: 18px;
 margin: 0;
 padding: 0;
 text-align: center;
 font-size: 11px;
 font-weight: normal;
 border-radius: 2px;
}

.bracket h3 input {
 font-size: 11px;
 text-align: center;
 border: 0;
 background-color: #ebebeb;
 width: 140px;
}

.game {
 position: relative;
}


.game p {
 overflow: hidden;
 font-size: 11px;
 background: #f2f2f2;
 border: 1px solid #aaa;
 line-height: 20px;
 padding: 0;
 padding-left: 2px;
 margin: 0;
 
}

.game input {
 float: right;
 background: #ebebeb;
 border: 0;
 border-left: 1px solid #aaa;
 text-align: center;
 height: 20px;
 width: 25px
}

.game .top {
 border-radius: 2px 2px 0 0;
}

.game .bottom {
 border-radius: 0 0 2px 2px;
}

/* -- */

.column.space {
 width: 20px;
}

.space .h3 {
 height: 20px;
}

.space .bottom {
 height: 21px;
 width: 8px;
 border-top: 2px solid #aaa;
 border-right: 2px solid #aaa;
 border-radius: 0 2px 0 0;
}

.space .bottomtop {
 width: 100%;
 border-left: 2px solid #aaa;
 border-bottom: 2px solid #aaa;
 margin-left: 8px;
 border-radius: 0 0 0 2px;
}

.space .middle {
 height: 18px;
 width: 5px; 
}

.space .topbottom {
 width: 100%;
 border-left: 2px solid #aaa;
 border-top: 2px solid #aaa;
 margin-left: 8px;
 border-radius: 2px 0 0 0;
}

.space .top {
 height: 21px;
 width: 8px;
 border-right: 2px solid #aaa;
 border-bottom: 2px solid #aaa;
 border-radius: 0 0 2px 0;
}

/* -- r1 -- */

.r1 {
 padding: 12px 0;
 margin: 0;
}

.space .r1 {
 padding: 35px 0;
 margin: 0;
}

.space .r1 .bottomtop, .space .r1 .topbottom {
 height: 3px;
}

/* -- r2 -- */

.r2 {
 padding: 48px 0;
 margin: 0;
}

.space .r2 {
 padding: 71px 0;
 margin: 0;
}

.space .r2 .bottomtop, .space .r2 .topbottom {
 height: 39px;
}

/* -- r3 -- */

.r3 {
 padding: 120px 0;
 margin: 0;
}

.space .r3 {
 padding: 143px 0;
 margin: 0;
}

.space .r3 .bottomtop, .space .r3 .topbottom {
 height: 111px;
}

/* -- r4 -- */

.r4 {
 padding: 264px 0;
 margin: 0;
}

.space .r4 {
 padding: 287px 0;
 margin: 0;
}

.space .r4 .bottomtop, .space .r4 .topbottom {
 height: 255px;
}

/* -- r5 -- */

.r5 {
 padding: 552px 0;
 margin: 0;
}

.space .r5 {
 padding: 575px 0;
 margin: 0;
}

.space .r5 .bottomtop, .space .r5	 .topbottom {
 height: 543px;
}

/* -- r6 -- */

.r6 {
 padding: 1128px 0;
 margin: 0;
}

.space .r6 {
 padding: 575px 0;
 margin: 0;
}

.space .r6 .bottomtop, .space .r6	 .topbottom {
 height: 255px;
}

/* -- All -- */

.r1.finals, .r2.finals, .r3.finals, .r4.finals, .r5.finals, .r6.finals {
 padding-bottom: 12px;
}